* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  color: bisque;
  font-size: 5rem;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(37, 144, 71, 1) 0%,
    rgba(0, 171, 199, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}
.wrapper > div > input {
  width: 5rem;

  font-size: 5rem;
}
.wrapper > div > button {
  width: 10rem;
  height: 3rem;
  border-radius: 15rem;
  font-size: 2rem;
  background: linear-gradient(
    90deg,
    rgba(0, 255, 81, 1) 0%,
    rgba(0, 219, 255, 1) 100%
  );
  cursor: pointer;
}
#secretWord {
  word-spacing: 15px;
}
.header {
  position: absolute;
  top: 15rem;
  font-size: 2rem;
}
#lifeCounter {
  font-size: 2rem;
  color: red;
}
#winOrLoose {
  position: absolute;
  z-index: 2;
  top: 30%;
  font-size: 15rem;
  left: 30rem;
  background-color: red;
}
